{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!
{% endblock %}
		{% block stylesheets %}
            <link rel="stylesheet" href="/css/panier.css">
			{# {{ encore_entry_link_tags('app') }} #}
		{% endblock %}

{% block body %}
	<h1>panier</h1>


		<section class="h-100 gradient-custom">
			<div class="container-fluid py-5">
            <div class="row">
				<div class="row d-flex justify-content-start my-4 panierCard">
					<div class="col-md-6">
						<div class="card mb-4">
							<div class="card-header py-3">
								<h5 class="mb-0">Votre panier : </h5>
							</div>
							<div
								class="card-body">
								<!-- Single item -->
	                {% for pro in panier %}
								<div class="row">
									<div
										class="col-lg-3 col-md-12 mb-4 mb-lg-0">
										<!-- Image -->
										<div class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
											<img src="{{pro.ImgProduit}}" class="w-100" alt="Blue Jeans Jacket"/>
											<a href="#!">
												<div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
											</a>
										</div>
										<!-- Image -->
									</div>

									<div
										class="col-lg-5 col-md-6 mb-4 mb-lg-0">
										<!-- Data -->
										<p>
											<strong>{{pro.NomProduit}}</strong>
										</p>
										<p>Couleurs :
											{{pro.CouleurProduit}}</p>
										<p>Type :
											{{pro.TypeProduit}}</p>
										<!-- Data -->
									</div>

									<div
										class="col-lg-4 col-md-6 mb-4 mb-lg-0">
										<!-- Quantity -->
										<div class="d-flex mb-4" style="max-width: 300px">

										<a href="/sub/{{pro.id}}" class="btn btn-primary">
											-
											</a>


											<div class="form-outline">
												<label class="form-label" for="form1">Quantité</label>
												{{ pro.quantite }}
											</div>
											
											<a href="/add/{{pro.id}}" class="btn btn-primary">
											+
											</a>

											
										</div>
										<!-- Quantity -->

										<!-- Price -->
										<p class="text-start text-md-center">
											<strong>{{pro.PrixProduit * pro.quantite}}€</strong>
										</p>
										<!-- Price -->
									</div>
								</div>
								<!-- Single item -->

								<hr class="my-4"/>

							{% endfor %}
							<!-- Price -->
						</div>
					</div>
					<!-- Single item -->
				</div>

				<div class="col-md-2 sommaire">
					<div class="card mb-4">
						<div class="card-header py-3 ">
							<h5 class="mb-0">Summary</h5>
						</div>
						<div class="card-body">
							<ul class="list-group list-group-flush">
								<li class="list-group-item d-flex justify-content-between align-items-end border-0 px-0 pb-0">
									Products
									<span>{{total}} €</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-end px-0">
									Shipping
									<span>Gratuit</span>
								</li>
								<li class="list-group-item d-flex justify-content-between align-items-end border-0 px-0 mb-3">
									<div>
										<strong>Total amount</strong>
										<strong>
											<p class="mb-0">(Avec la TVA) {{tva}} €</p>
										</strong>
									</div>
									<span>
										<strong></strong>
									</span>
								</li>
							</ul>

							<a href="/clear" class="btn btn-danger">Vider le panier</a>
                            <a href="#" class="btn btn-success">Acceder au payement</a>

						</div>
					</div>
				</div>
			</div>
            </div>
		</div>
	</div>
</div>
<div class="card mb-4 delivery">
	<div class="card-body">
		<p>
			<strong>Expected shipping delivery</strong>
		</p>
		<p class="mb-0">12.10.2020 - 14.10.2020</p>
	</div>
</div>
<div class="card mb-4 mb-lg-0">
	<div class="card-body moyenPayement">
		<p>
			<strong>We accept</strong>
		</p>
		<img class="me-2" width="45px" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg" alt="Visa"/>
		<img class="me-2" width="45px" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg" alt="American Express"/>
		<img class="me-2" width="45px" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg" alt="Mastercard"/>
		<img class="me-2" width="45px" src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce/includes/gateways/paypal/assets/images/paypal.webp" alt="PayPal acceptance mark"/>
	</div>
</div>
</div>
</section>
 <script src="/js/scriptPanier.js" >
{% endblock %}
